<div class="bg-base-100 shadow-sm navbar">
    <div class="navbar-start">
        <div class="dropdown">
            <div tabindex="0" role="button" class="lg:hidden btn btn-ghost">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-white" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
                </svg>
            </div>
            <ul tabindex="0" class="z-1 bg-base-100 shadow mt-3 p-2 rounded-box w-52 menu menu-sm dropdown-content">
                @for (route of routes(); track $index) {
                <li class="px-1">
                    <a class="navlink-item" routerLink="{{ route.path }}" routerLinkActive="navlink-active">
                        {{ route.title }}</a>
                </li>
                }
            </ul>
        </div>
        <a routerLink="/" class="text-white text-xl btn btn-ghost">Teslo |
            <span class="text-info">Shop Tech</span></a>
    </div>
    <div class="hidden lg:flex navbar-center">
        <ul class="px-1 menu menu-horizontal">
            @for (route of routes(); track $index) {
            <li class="px-1">
                <a class="navlink-item" routerLink="{{ route.path }}" routerLinkActive="navlink-active">
                    {{ route.title }}</a>
            </li>
            }
        </ul>
    </div>
    @if (authService.authStatus() === 'authenticated') {
    <div class="gap-1 navbar-end">
        <span class="text-white btn">
            {{ authService.user()?.fullName }}</span>

        @if (authService.isAdmin()) {
        <a routerLink="admin" class="bg-accent !py-2.5 text-white text-xs btn">
            Dashboard
        </a>
        }

        <button class="bg-red-500 !py-2.5 text-white text-xs btn" (click)="authService.logout()">
            Salir
        </button>
    </div>
    }
    @else if (authService.authStatus() === 'not-authenticated') {
    <a routerLink="/auth/login" class="!py-2.5 text-white text-xs btn-accent btn">
        Login</a>
    }
    @else{
    <span class="btn btn-primary">...</span>
    }
</div>