<h1 class="font-semibold text-2xl text-accent-content">
    Listado de Productos</h1>

<h3 class="text-xs text-accent-content">Total registros :
    <span>{{ productsResource.value()?.count }}</span>
</h3>


<div class="">
    <div class="flex gap-3 w-full">
        <select class="select-accent select" (change)="limit.set(+slcLimit.value)" #slcLimit>
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>

        <a routerLink="/admin/products/new" routerLinkActive="router-link-active"  class="text-white text-xs btn btn-accent">
            AGREGAR
        </a>
        <div class="flex-1">
            <app-pagination [pages]="productsResource.value()?.pages ?? 0"
                [currentPage]="paginationService.currentPage()" />
        </div>
    </div>
    <app-product-table [products]="productsResource.value()?.products ?? []" />
</div>