<div class="w-full h-[400px] swiper" #swiperDiv>
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        @for (item of images(); track $index) {
        <div class="animate-fadeIn swiper-slide">
            <img [src]="item | productImage" [alt]="item" class="w-full h-full object-scale-down" />
        </div>
        }
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
</div>